@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@layer base {
  @font-face {
    font-family: 'Wrestlemania';
    src: url('./assets/WRESTLEMANIA.ttf');
  }

  @font-face {
    font-family: 'Tna';
    src: url('./assets/TnaFont.ttf');
  }

  body {
    background-color: #547aaa;
    cursor: url('./assets/champPixel.png'), auto
  }

  .font-tna {
    font-family: 'Tna', sans-serif;
  }

  .login-modal {
    padding: 25px;
  }

  .custom-cursor {
    cursor: pointer;
  }
}
